<!-- <form>
    <input type="text" placeholder="Search for a Country" aria-label="Number" matInput [formControl]="myControl"
        [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value='';">Clear</button>
    {{value}}
</form> -->
<div class="container">
  <h2 style="text-align: center;"> Country Portal</h2>
  <div style="text-align: center;">
    <mat-form-field>
      <input matInput id="country" placeholder="Enter Country" type="text" #country>
    </mat-form-field>
    <button class="dark" mat-button (click)="InitialFetch(country.value)">Submit</button>
  </div>

  <!-- <mat-form-field>
  <input type="text" placeholder="Enter Location" matInput [formControl]="myControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)='countryChange($event.option.value)'>
    <mat-option *ngFor="let country of filteredOptions| async" [value]="country">
      {{country}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->

  <div *ngIf="countries.length!=0">
    <h3>Select a Country :</h3>
    <ul>
      <li *ngFor="let country of countries">
    <a (click)='openDialog(country)'>{{country}}</a>
  </li>
  </ul>
  </div>
<br>


  <div *ngIf="countryName" class="tableData">
    <h3>Country Details:</h3>
    <table class="floatLeft">
      <thead>
        <th colspan="2">{{countryName}}</th>
      </thead>
      <tbody>

        <tr *ngFor="let k of selected | keyvalue">
          <td style="font-weight: 500;">{{k.key}}</td>

          <td *ngIf="k.key!='flag' && k.key!='currencies' && k.key!='regionalBlocs' && k.key!='languages' &&
          k.key!=='translations'; else differ">{{k.value}}</td>


          <ng-template #differ>
            <ng-container *ngIf="k.key=='translations'; else obj">
              <td>
                <p *ngFor="let v of k.value | keyvalue; let i=index"> {{v.key}} : {{v.value}}</p>
              </td>
            </ng-container>

          </ng-template>

          <ng-template #obj>
            <ng-container *ngIf="k.key!='flag'; else flag">
              <td>
                <div *ngFor="let a of k.value; ">
                  <p *ngFor="let v of a | keyvalue; let i=index"> {{v.key}} : {{v.value}} </p>
                </div>
              </td>

            </ng-container>

          </ng-template>

          <ng-template #flag>
            <td> <img src={{selected.flag}}></td>
          </ng-template>


        </tr>

      </tbody>

    </table>
    <table *ngIf="operation=='compare'" class="floatRight">
      <thead>
        <th colspan="2">{{secondCountry}}</th>
      </thead>
      <tbody>

        <tr *ngFor="let k of selected1 | keyvalue">
          <td style="font-weight: 500;">{{k.key}}</td>

          <td *ngIf="k.key!='flag' && k.key!='currencies' && k.key!='regionalBlocs' && k.key!='languages' &&
          k.key!=='translations'; else differ1">{{k.value}}</td>

          <ng-template #differ1>
            <ng-container *ngIf="k.key=='translations'; else obj1">
              <td>
                <p *ngFor="let v of k.value | keyvalue; let i=index"> {{v.key}} : {{v.value}}</p>
              </td>
            </ng-container>

          </ng-template>

          <ng-template #obj1>
            <ng-container *ngIf="k.key!='flag'; else flag1">
              <td>
                <div *ngFor="let a of k.value; ">
                  <p *ngFor="let v of a | keyvalue; let i=index"> {{v.key}} : {{v.value}} </p>
                </div>
            </ng-container>

          </ng-template>

          <ng-template #flag1>
            <td> <img src={{selected1.flag}}></td>
          </ng-template>

        </tr>

      </tbody>
    </table>



  </div>
</div>